.wrapper {
  // display: flex;
  // justify-content: space-between;
  // align-items: center;
  // background-repeat: no-repeat;
  // background-position: right center;
  // background-size: cover;
  .slogan {
    position: absolute;
    top: 30%;
    left: 10%;
    font-size: 3rem;
    & > div > span {
      color: #338bff;
      margin: 0 5px 0 10px;
    }
    .subTitle {
      font-size: 22px;
      font-weight: 300;
    }
  }

  .svgBackground {
    display: flex;
    align-items: center;
    height: calc(100vh - 60px);
    overflow: hidden;
  }
}
